<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/js-klass/klass.js"></script>
    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="src/js/jquery.ba-tinypubsub.js"></script>
    <script src="src/js/BaseModel.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">


    <script type="text/html" id="todoCreaterTemplate">

        <input type="text" id="input-todo">
        <button id="add">Add</button>

    </script>

    <script type="text/html" id="todoListTemplate">

        <% _.each(obj , function(item, index, array) { %>

            <div>
                <input <% if(item.completed){%>checked<% }%> data-index="<%=index%>" type="checkbox" class="todoCheckBox">
                <label <% if(item.completed){%> class="completed" <% }%> > <%= item.title %>
                    <% if(item.completed){%>✓<% }%>
                </label>
                <button data-index="<%=index%>" id="remove">x</button>
            </div>

        <% }) %>

    </script>

    <script type="text/html" id="todoFooterTemplate">

        <label>All</label>
        <label id="completed">Completed</label>
        <label>Remaining</label>
        <label>RemoveAll</label>

    </script>

</head>
<body>


<header id="todoCreater">
</header>

<section id="todoList">
</section>

<footer id="todoFooter">
</footer>


<script src="src/js/common.js"></script>
<script src="src/js/todoItem.js"></script>
<script src="src/js/todoItemList.js"></script>
<script src="src/js/todoView.js"></script>
<script src="src/js/todoListView.js"></script>
<script src="src/js/todoFooterView.js"></script>

</body>
</html>